.gradle
.classpath
.project
.settings
.metadata
bin
/build
eclipse
/run
/logs
/config
/saves
*.json
*.bat
options.txt
/out
/classes

# IntelliJ
.idea
*.iml
*.ipr
*.iws

# Blender backup files
*.blend1
*.blend2
*.bat
