*.blend1
*.blend2
*.blend3
*.blend4
*.blend5
*.zip
*.rar
*.7z
cpw/
ibxm/
net/
paulscode/
assets/forge/
Start.java
mcpmod.info
forge_logo.png
forge_at.cfg~
forge_at.cfg
fmlversion.properties
fml_marker.cfg
fml_at.cfg
deobfuscation_data-1.6.4.lzma