.gradle
.classpath
.project
.settings
.metadata
bin
/build
eclipse
/run
/logs
/config
/saves
*.json
options.txt
/out
/classes
/build-play.bat
/build-full.bat

# IntelliJ
.idea
*.iml
*.ipr
*.iws

# Blender backup files
*.blend1
*.blend2

